*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
  }
  body{
    width: 1600px;
    max-width: 1600px;  
    background:#f6f8fb;
    color:#1f2937;
  }
  .container{
    max-width:1100px;
    margin: 60px auto;
    padding:0 16px;
  }
  .page-title{
    font-size:32px;
    font-weight: 900;
    margin-bottom:20px;
  }
  
  /* Job-Stats */
  .stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 16px;
    margin-bottom:30px;
  }
  .stat-card{
    background:#fff;
    padding:20px;
    border-radius:10px;
    border:1px solid #d8dbe0;
  }
  .stat-card p{
    font-size:14px;
    color:#69707c;
  }
  .stat-card h2{
    margin-top:8px;
    font-size: 24px;
  }
  .green{
    color:#18ac4e;
  }
  .red{
    color:#da2d2d;
  }

  /* Job-Header */
  .jobs-top{
    display:flex;
    justify-content:space-between;
    margin-bottom:24px;
  }
  .jobs-top span{
    color:#69707c;          
    font-size:16px;
    font-weight: 300;
  }

  /* Job Filter Tabs */
  .filters{
    display:flex;
    gap:8px;
    margin-bottom:16px;
  }
  .filters button{
    padding:10px 14px;
    border:1px solid #d1d5db;
    background:#fff;
    border-radius:4px;
    cursor:pointer;
  }
  .filters .active{
    background-color: #2459cb;
    color:#ffffff;
    border-color:#2459cb;
  }

   /* Empty Job */
   .empty{
    display:none;
    text-align:center;
    padding:40px;
    color:#6b7280;
  }
  .empty img{
    width:80px;
    margin-bottom:10px;
  }

    /* Job List */
    .job-list{
        display:flex;
        flex-direction:column;
        gap:16px;
      }
      .job-card{
        background:#fff;
        padding:24px;
        border-radius:8px;
        border:1px solid #e5e7eb;
      }
      .job-header{
        display:flex;
        justify-content:space-between;
      }
      .job-header h3{
        font-size: 16px;
        font-weight: 700;
      }
      .role{
        color:#69707c;
        font-size:14px;
        margin-top:4px;
      }
      .meta{
        font-size:11px;
        color:#69707c;
        margin-top:20px;
      }
      .menu{
        color:#69707c;
        font-size:18px;
        cursor:pointer;
      }
      
      .badge{
        display:inline-block;
        padding:8px 12px;
        font-size:12px;
        line-height: 20px;
        margin:12px 0 8px;
        border-radius:4px;
        background:#e5e7eb;
      }
      .interview{
        background:#dcfce7;
        color:#10B981;
      }
      .rejected{
        background-color:#dcfce7;
        color:#EF4444;
      }
      
      .description{
        font-size:14px;
        color:#4b5563;
        margin-bottom:16px;
      }
      
      .actions{
        display:flex;
        gap:10px;
      }
      .btn{
        background:transparent;
        padding:8px 12px;
        border-radius:4px;
        font-size:12px;
        line-height: 20px;
        cursor:pointer;    
      }
      .interview{
        border:1px solid #16a34a;
        color:#16a34a;
      }
      .rejected{
        border:1px solid #dc2626;
        color:#dc2626;
      }
  
  
